<header>
    <nav id="header" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button id="nav-icon1" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a href="{{ path('dashboard') }}" class="logo">
                    {{ 'navigation.logo'| trans }}
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="navigation">
                    <li {% if app.request.get('_route') == "my-account" %} class="active" {% endif %}>
                        <a href="{{ path('my-account') }}" class="navigation-item">{{ 'navigation.my_account'| trans }}</a>
                    </li>

                    {% if is_granted('ROLE_MANAGER') %}
                        <li {% if app.request.get('_route') == "user-management" %} class="active" {% endif %}>
                            <a href="05-user-management.php" class="navigation-item">{{ 'navigation.user_management'| trans }}</a>
                        </li>
                        <li {% if app.request.get('_route') == "hotel-managemenet" %} class="active" {% endif %}>
                            <a href="09-hotel-information-owner.php" class="navigation-item">{{ 'navigation.hotel_management'| trans }}
                            </a>
                        </li>
                    {% endif %}
                    <li {% if app.request.get('_route') == "bookings" %} class="active" {% endif %}>
                        <a href="15-my-bookings.php" class="navigation-item">{{ 'navigation.bookings'| trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('logout') }}" class="btn success">{{ 'navigation.logout'| trans }}</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</header>
