{% if nrPages > 0 %}
    <div class="table-paginated">
        <div class="table-responsive">
            {{ include('flash-messages.html.twig') }}
            <table class="table">
                <thead>
                <tr>
                    <th class="columns" data-action="{{ path('paginate-and-sort-reservations') }}"
                        data-sort="{% if sortBy is empty or sortBy.hotel is not defined %}ASC{% else %}{{ sortBy.hotel }}{% endif %}"
                        data-column="hotel"
                        data-page="{{ currentPage }}">{{ 'form.label.hotel'| trans }}<span class="sort-icon"></span></th>
                    <th class="columns" data-action="{{ path('paginate-and-sort-reservations') }}"
                        data-sort="{% if sortBy is empty or sortBy.room is not defined %}ASC{% else %}{{ sortBy.room }}{% endif %}"
                        data-column="room"
                        data-page="{{ currentPage }}">{{ 'form.label.room'| trans }}<span class="sort-icon"></span></th>
                    <th class="columns" data-action="{{ path('paginate-and-sort-reservations') }}"
                        data-sort="{% if sortBy is empty or sortBy.startDate is not defined %}ASC{% else %}{{ sortBy.startDate }}{% endif %}"
                        data-column="startDate"
                        data-page="{{ currentPage }}">{{ 'page.hotel-management.reservation-management.start_date'| trans }}<span class="sort-icon"></span></th>
                    <th class="columns" data-action="{{ path('paginate-and-sort-reservations') }}"
                        data-sort="{% if sortBy is empty or sortBy.endDate is not defined %}ASC{% else %}{{ sortBy.endDate }}{% endif %}"
                        data-column="endDate"
                        data-page="{{ currentPage }}">{{ 'page.hotel-management.reservation-management.end_date'| trans }}<span class="sort-icon"></span></th>
                    <th class="text-center">{{ 'page.hotel-management.reservation-management.delete'| trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for re in reservations %}
                    <tr>
                        <td>{{ re.hotel }}</td>
                        <td>{{ re.room }}</td>
                        <td>{{ re.startDate | date('Y-m-d') }}</td>
                        <td>{{ re.endDate | date('Y-m-d') }}</td>
                        <td class="text-center">
                            <a  data-column="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ key }}{% endfor %}{% endif %}"
                                data-sort="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ value }}{% endfor %}{% endif %}"
                                data-page="{{ currentPage }}"
                                data-paginate="true"
                                href="{{ path('delete-reservation', {'reservationId': re.reservationId}) }}" class="delete-reservation">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-items">{{ 'page.user-management.user-management.items'|trans({'%users%': nrReservations}) }}</div>
        <nav class="table-pagination">
            <ul class="pagination">
                {% if currentPage != 1 %}
                    <li class="prev">
                        <a data-action="{{ path('paginate-and-sort-reservations') }}"
                           data-page="{{ currentPage -1 }}"
                           data-column="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ key }}{% endfor %}{% endif %}"
                           data-sort="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ value }}{% endfor %}{% endif %}"
                           data-paginate="true"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo; {{ 'page.user-management.user-management.previous'|trans }}</span>
                        </a>
                    </li>
                {% endif %}
                {% if nrPages > 1 %}
                    {% for page in 1..nrPages %}
                        <li {% if currentPage == page %} class="active" {% endif %}><a
                                    data-action="{{ path('paginate-and-sort-reservations') }}"
                                    data-page="{{ page }}"
                                    data-column="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ key }}{% endfor %}{% endif %}"
                                    data-sort="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ value }}{% endfor %}{% endif %}"
                                    data-paginate="true">{{ 'page.user-management.user-management.page-number'| trans({'%page%': page}) }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
                {% if currentPage != nrPages %}
                    <li class="next">
                        <a data-action="{{ path('paginate-and-sort-reservations') }}"
                           data-page="{{ currentPage + 1 }}"
                           data-column="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ key }}{% endfor %}{% endif %}"
                           data-sort="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ value }}{% endfor %}{% endif %}"
                           data-paginate="true"
                           aria-label="Next">
                            <span aria-hidden="true">{{ 'page.user-management.user-management.next'|trans }} &raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% else %}
    <div class="table-paginated">
        <div class="table-responsive">
            {{ include('flash-messages.html.twig') }}
            <h1>{{ 'page.hotel-management.reservation-management.no_reservations'| trans }}</h1>
        </div>
    </div>
{% endif %}
