{% extends 'base.html.twig' %}

{% block body %}

    <div class="content general">
        <div class="container-fluid">
            <div class="col-md-12 col-sm-12 col-xs-12 no-lr-padding">
                <div class="wrapper">
                    <div class="container-small">
                        {{ include('back.html.twig') }}
                        <div class="col-md-12 col-sm-12 col-xs-12 no-lr-padding title">
                            <h1 class="text-center">{{ 'page.edit-user.title'| trans }}</h1>
                        </div>
                        <form action="{{ path('edit-user', {'username': username}) }}" method="post">
                            <div class="col-md-12 col-xs-12 no-lr-padding">
                                <div class="styled-input">
                                    {{ form_label(edit_user_form.username) }}
                                    <div class="rel">
                                        {{ form_errors(edit_user_form.username) }}
                                        {{ form_widget(edit_user_form.username) }}
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12 no-lr-padding">
                                <div class="styled-input">
                                    <label>{{ 'form.label.role'| trans }}</label>
                                    {{ form_errors(edit_user_form.role) }}
                                    {{ form_widget(edit_user_form.role, {'attr': {'class': 'selectpicker' }}) }}
                                </div>
                            </div>
                            {{ form_row(edit_user_form._token) }}
                            {{ form_widget(edit_user_form.submit) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
