{% extends 'base.html.twig' %}

{% block body %}
    <div class="content general">
        <div class="container-fluid">
            <div class="col-md-12 col-sm-12 col-xs-12 no-lr-padding">
                <div class="wrapper">
                    <a href="{{ path('dashboard') }}">{{ 'page.user-management.user-management.back'| trans }}</a>
                    <div class="col-md-12 col-sm-12 col-xs-12 no-lr-padding title">
                        <h1 class="text-center">{{ 'page.user-management.user-management.title'| trans }}</h1>
                    </div>
                    {% if is_granted('ROLE_OWNER') %}
                        <div class="col-md-12 col-xs-12 no-lr-padding text-center search">

                            <span>{{ 'page.user-management.user-management.search'| trans }}</span>
                            <div class="styled-input">
                                <select class="selectpicker" id="hotels">
                                    {% for name, hotel in hotels %}
                                        <option data-action="{{ path('paginate-and-sort') }}" data-role="owner"
                                                data-page="{{ currentPage }}"
                                                value="{{ hotel.hotelId }}"> {{ name }} </option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    {% endif %}
                    <div id="reload">
                        {{ include('user_management/table.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/user_management/user-management.js') }}"></script>
{% endblock %}
