{% if users|length > 0 %}
<div class="table-paginated">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="columns" data-action="{{ path('paginate-and-sort') }}"
                    data-sort="{% if sortBy is empty or sortBy.firstName is not defined %}ASC{% else %}{{ sortBy.firstName }}{% endif %}"
                    data-column="firstName"
                    data-role="{% if is_granted('ROLE_OWNER') %}owner{% else %}manager{% endif %}"
                    data-page="{{ currentPage }}">{{ 'form.label.firstName'| trans }}<span class="sort-icon"></span></th>
                <th class="columns" data-action="{{ path('paginate-and-sort') }}"
                    data-sort="{% if sortBy is empty or sortBy.lastName is not defined %}ASC{% else %}{{ sortBy.lastName }}{% endif %}"
                    data-column="lastName"
                    data-role="{% if is_granted('ROLE_OWNER') %}owner{% else %}manager{% endif %}"
                    data-page="{{ currentPage }}">{{ 'form.label.lastName'| trans }}<span class="sort-icon"></span></th>
                <th class="columns" data-action="{{ path('paginate-and-sort') }}"
                    data-sort="{% if sortBy is empty or sortBy.role is not defined %}ASC{% else %}{{ sortBy.role }}{% endif %}"
                    data-column="role"
                    data-role="{% if is_granted('ROLE_OWNER') %}owner{% else %}manager{% endif %}"
                    data-page="{{ currentPage }}">{{ 'form.label.role'| trans }}<span class="sort-icon"></span></th>
                <th class="columns" data-action="{{ path('paginate-and-sort') }}"
                    data-sort="{% if sortBy is empty or sortBy.email is not defined %}ASC{% else %}{{ sortBy.email }}{% endif %}"
                    data-column="email"
                    data-role="{% if is_granted('ROLE_OWNER') %}owner{% else %}manager{% endif %}"
                    data-page="{{ currentPage }}">{{ 'form.label.email'| trans }}<span class="sort-icon"></span></th>
                <th class="columns" data-action="{{ path('paginate-and-sort') }}"
                    data-sort="{% if sortBy is empty or sortBy.dateOfBirth is not defined %}ASC{% else %}{{ sortBy.dateOfBirth }}{% endif %}"
                    data-column="dateOfBirth"
                    data-role="{% if is_granted('ROLE_OWNER') %}owner{% else %}manager{% endif %}"
                    data-page="{{ currentPage }}">{{ 'form.label.birth_date'| trans }}<span class="sort-icon"></span></th>
                <th class="columns" data-action="{{ path('paginate-and-sort') }}"
                    data-sort="{% if sortBy is empty or sortBy.expirationDate is not defined %}ASC{% else %}{{ sortBy.expirationDate }}{% endif %}"
                    data-column="expirationDate"
                    data-role="{% if is_granted('ROLE_OWNER') %}owner{% else %}manager{% endif %}"
                    data-page="{{ currentPage }}">{{ 'form.label.registration_date'| trans }}<span class="sort-icon"></span></th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            {% for u in users %}
                <tr>
                    <td>{{ u.firstName }}</td>
                    <td>{{ u.lastName }}</td>
                    <td>{{ u.role }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.dateOfBirth }}</td>
                    <td>{{ u.expirationDate | date('Y-m-d') }}</td>
                    <td class="text-center"><a href="{{ path('edit-user', {'username': u.username}) }}"><i
                                    class="fa fa-edit"></i></a></td>
                    <td class="text-center"><input type="checkbox"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="table-items">{{ 'page.user-management.user-management.items'|trans({'%users%': nrUsers}) }}</div>
    <nav class="table-pagination">
        <ul class="pagination">
            {% if currentPage != 1 %}
                <li class="prev">
                    <a data-action="{{ path('paginate-and-sort') }}"
                       data-role="{% if is_granted('ROLE_OWNER') %}owner{% else %}manager{% endif %}"
                       data-page="{{ currentPage -1 }}"
                       data-column="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ key }}{% endfor %}{% endif %}"
                       data-sort="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ value }}{% endfor %}{% endif %}"
                       data-paginate="true"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo; {{ 'page.user-management.user-management.previous'|trans }}</span>
                    </a>
                </li>
            {% endif %}
            {% if nrPages > 1 %}
                {% for page in 1..nrPages %}
                    <li {% if currentPage == page %} class="active" {% endif %}><a
                                data-action="{{ path('paginate-and-sort') }}"
                                data-role="{% if is_granted('ROLE_OWNER') %}owner{% else %}manager{% endif %}"
                                data-page="{{ page }}"
                                data-column="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ key }}{% endfor %}{% endif %}"
                                data-sort="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ value }}{% endfor %}{% endif %}"
                                data-paginate="true">{{ 'page.user-management.user-management.page-number'| trans({'%page%': page}) }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if currentPage != nrPages %}
                <li class="next">
                    <a data-action="{{ path('paginate-and-sort') }}"
                       data-role="{% if is_granted('ROLE_OWNER') %}owner{% else %}manager{% endif %}"
                       data-page="{{ currentPage + 1 }}"
                       data-column="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ key }}{% endfor %}{% endif %}"
                       data-sort="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ value }}{% endfor %}{% endif %}"
                       data-paginate="true"
                       aria-label="Next">
                        <span aria-hidden="true">{{ 'page.user-management.user-management.next'|trans }} &raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% else %}
    <h1>{{ 'page.user-management.user-management.no_users'| trans }}</h1>
{% endif %}
