{% extends 'base.html.twig' %}

{% block body %}

    <div class="content general">
        <div class="container-fluid">
            <div class="col-md-12 col-sm-12 col-xs-12 no-lr-padding">
                <div class="wrapper">
                    {{ include('back.html.twig') }}
                    <div class="col-md-12 col-sm-12 col-xs-12 no-lr-padding title text-center">
                        <h1>{{ 'page.hotel-management.hotel-information.title'| trans }}</h1>
                    </div>
                    <div id="reload">
                        {{ include('hotel-management/hotels-table.html.twig') }}
                    </div>
                    <div class="col-md-12 col-xs-12 no-lr-padding">
                        <a href="{{ path('room-management') }}" class="btn submit pull-right">{{ 'page.hotel-management.room-management.to'| trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/paginateAndSort.js') }}"></script>
{% endblock %}
