{% if hotels|length > 0 %}
<div class="table-paginated">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="columns" data-action="{{ path('paginate-and-sort-hotels') }}"
                    data-sort="{% if sortBy is empty or sortBy.name is not defined %}ASC{% else %}{{ sortBy.name }}{% endif %}"
                    data-column="name"
                    data-page="{{ currentPage }}">{{ 'page.hotel-management.hotel-information.hotel'| trans }}<span class="sort-icon"></span></th>
                <th class="columns" data-action="{{ path('paginate-and-sort-hotels') }}"
                    data-sort="{% if sortBy is empty or sortBy.location is not defined %}ASC{% else %}{{ sortBy.location }}{% endif %}"
                    data-column="location"
                    data-page="{{ currentPage }}">{{ 'page.hotel-management.hotel-information.location'| trans }}<span class="sort-icon"></span></th>
                <th class="columns" data-action="{{ path('paginate-and-sort-hotels') }}"
                    data-sort="{% if sortBy is empty or sortBy.employees is not defined %}ASC{% else %}{{ sortBy.employees }}{% endif %}"
                    data-column="employees"
                    data-page="{{ currentPage }}">{{ 'page.hotel-management.hotel-information.employees'| trans }}<span class="sort-icon"></span></th>
                <th class="text-center">{{ 'page.hotel-management.hotel-information.availability'| trans }}</th>
                <th class="text-center">{{ 'page.hotel-management.hotel-information.edit'| trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for h in hotels %}
                <tr>
                    <td>{{ h.name }}</td>
                    <td>{{ h.location }}</td>
                    <td>{{ h.employees }}</td>
                    <td class="text-center"><input type="checkbox" {% if availableHotels[h.name] is defined %} checked {% endif %}></td>
                    <td class="text-center"><a href="10-hotel-information.php"><i class="fa fa-edit"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="table-items">{{ 'page.hotel-management.hotel-information.items'| trans({'%hotels%': nrHotels}) }}</div>
    <nav class="table-pagination">
        <ul class="pagination">
            {% if currentPage != 1 %}
                <li class="prev">
                    <a data-action="{{ path('paginate-and-sort-hotels') }}"
                       data-page="{{ currentPage -1 }}"
                       data-column="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ key }}{% endfor %}{% endif %}"
                       data-sort="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ value }}{% endfor %}{% endif %}"
                       data-paginate="true"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo; {{ 'page.hotel-management.hotel-information.previous'| trans }}</span>
                    </a>
                </li>
            {% endif %}
            {% if nrPages > 1 %}
                {% for page in 1..nrPages %}
                    <li {% if currentPage == page %} class="active" {% endif %}><a
                                data-action="{{ path('paginate-and-sort-hotels') }}"
                                data-page="{{ page }}"
                                data-column="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ key }}{% endfor %}{% endif %}"
                                data-sort="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ value }}{% endfor %}{% endif %}"
                                data-paginate="true">{{ 'page.hotel-management.hotel-information.page-number' |trans({'%page%': page}) }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if currentPage != nrPages %}
                <li class="next">
                    <a data-action="{{ path('paginate-and-sort-hotels') }}"
                       data-page="{{ currentPage + 1 }}"
                       data-column="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ key }}{% endfor %}{% endif %}"
                       data-sort="{% if sortBy is not empty %}{% for key,value in sortBy %}{{ value }}{% endfor %}{% endif %}"
                       data-paginate="true"
                       aria-label="Next">
                        <span aria-hidden="true">{{ 'page.hotel-management.hotel-information.next'| trans }} &raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% else %}
    <h1>Sorry, but you don't have any hotel.</h1>
{% endif %}
